/*
  flex-direction: 
 
  justify-content: space-evenly; выравнивает вдоль главной оси
  align-items: center;  выравнивает вдоль побочной оси

  flex-wrap: wrap; перенос элементов на новую строку*/

*{
  margin:0;
  padding: 0px;
}
@font-face
{
    font-family: 'CatamaranMedium';
    src: url('../fonts/Catamaran-Medium.ttf');
}

@font-face
{
    font-family: 'CatamaranRegular';
    src: url('../fonts/Catamaran-Regular.ttf');
}

@font-face
{
    font-family: 'CatamaranLight';
    src: url('../fonts/Catamaran-Light.ttf');
}

@font-face
{
    font-family: 'CatamaranBlack';
    src: url('../fonts/Catamaran-Black.ttf');
}

.registr{
  position: relative;
  max-width: 1282px;
}

.fon{
  position: absolute;
}
.registr_2{
  position: absolute;
  width: 907px;
  height: 422px;
  z-index: 3;
  display: flex;
  margin-top: 124px;
  margin-right: 156px;
  margin-left: 219px;
  flex-direction: row;
  justify-content: space-between;
}

.logo_1{
  width: 276px;
  height: 109px;
  margin-left: 28px;
}
.text{
  width: 331px;
  height: 88px;
  color: #333333;
  font-family: 'CatamaranMedium';
  font-size: 35px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 3.6px;
  text-align: center;
  margin-top:35px;
}
.dop_2{
  width: 377px;
  height: 58px;
  display: flex;
  flex-direction: row;
}
.cl_1, .cl_2{
  display: flex;
  width: 190px;
  height: 58px;
  justify-content: center;
  align-items: center
}
.cl_2{
  background: rgba(255, 255, 255, 0.7);
}
.cl_1 p{
  color: #ffffff;
  font-family: 'Catamaran';
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.8px;
}
.cl_2 p{
  color: #333333;
  font-family: 'Catamaran';
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;

  letter-spacing: 1.8px;
}
.dop_1{
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}
.registe{
  display: flex;
  width: 377px;
  height: 422px;
  box-shadow: 0 6px 6px 1px rgba(44, 43, 45, 0.7);
  background-color: rgba(51, 51, 51, 0.9);
  flex-direction: column;
}
.dop_3{
  width: 378px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  
}
.rectangle_1, .rectangle_2, .rectangle_3, .rectangle_5 {
  
  width: 347px;
  height: 40px;
  background-color: #ffffff;
}
.dop_3 p{
  opacity: 0.7;
  color: #333333;
  font-family: 'Catamaran';
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.8px;
  margin-left: 10px;
}
.rectangle_6 {
  width: 347px;
  height: 40px;  
}
.reg_but{
  width: 100%;
	background-color: #ff6600;
	border: 0px;
	color: #333333;
	font-family: 'CatamaranBlack';
	font-size: 30px;
	letter-spacing: 3px;
}
.rectangle_4 p{
  width: 317px;
  height: 40px;
  color: #ffffff;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-left: -23px;
}

main{
  position: absolute;
  top:664px;
  height: 572px;
}
.content{
  display: flex;
  flex-direction: column;
}
.t{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 1282px;
  height: 166px;
}
.t_1 p{
  color: #00a8b2;
  font-family: 'CatamaranBlack';
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 3px;
}
.t_2{
  margin: 10px;
  width: 770px;
  height: 40px;
}
.t_2 p{
  color: #333333;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.5px;
}
.t_3{
  margin-top: 52px;
  height: 24px;
}
.t_3 p{
  color: #00a8b2;
  font-family:'CatamaranBlack';
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 3px;
  text-align: center;
}
.dop_4{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 52px;
}

.Black{
  color: #00a8b2;
  font-family: 'CatamaranBlack';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
.pict_1, .pict_2, .pict_3, .pict_4{
  max-width: 250px;
}
.bottom-pict{
  text-align: center;
  margin-top: 14px;

}
.text_pict{
  font-family: 'CatamaranLight';
font-weight: 300;
letter-spacing: 1.6px;
line-height: 24px;
text-align: center;
}
.pict{
  text-align: center;
}

.rectangle{
  display: flex;
  max-width: 1284px;
  height: 121px;
  background-color: rgb(51, 51, 51);
  align-items: center;
  justify-content: space-between;
}
.logo_footer{
  margin-left: 54px;
}
.logo_1_footer{
width: 160px;
height: 64px;
}
.conect_footer{
  margin-right: 70px;
}


.footer_text{
	/*display: inline-block;*/
	/*margin-right: 20%;*/
	color: #ffffff;
	font-family: Catamaran;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
	letter-spacing: 1.6px;
	/*margin-top: 14%;*/

}



.footer_text::after{     
  content: '';     
  width: 35px;     
  height: 3px;
  background-color: #ffffff;    
  position: absolute;     
  top: 18px;
  right: 0; 
}

.footer_text::before{
	content: '';
	width: 35px;
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	top: 18px;
	left: 0;
}

.footer_text {
	position: relative;
	width: 220px;
}



/* прибитый подвал */
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  width: 1282px;
height: 1350px;
background-color: #ffffff;
}
.wrap {
  padding-bottom: 156px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
